<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/page-zeroing.css}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/page-zeroing.css">
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/index}">
            <img height="70px" th:src="@{/sport.png}" src="../static/sport.png">
        </a>
    </div>
    <div class="sign-in"><a href="sign-in.html" id="sign-in" th:href="@{/sign-in}">Войти</a></div>
    <div class="trainer"><a href="trainers.html" th:href="@{/trainers}">Тренеры</a></div>
    <div class="home"><a href="index.html" th:href="@{/index}">Главная</a></div>
    <div class="name"><a href="index.html" id="name-site" th:href="@{/index}">Fitness CAT</a></div>
    <hr>
</header>


<section>

    <div id="comment">

        <br>
        <div><img th:src="${trainer.imageUrl}"></div>
        <div>
            <h1>Оставьте свой комментарий</h1>
            <form method="post" th:action="@{/comment/create}" th:object="${createDto}">
                <input type="hidden" th:value="${trainer.id}" name="trainerId">
                <input type="text" th:field="*{content}" placeholder="Ваш Комментарий">
                <br>
                <input type="number" th:field="*{averageRating}" placeholder="Ваша Оценка" pattern="[1-5]{1}">
                <br>
                <input type="submit" name="Отправить">
            </form>
        </div>
    </div>


    <!--    <hr>-->
</section>

<footer>
    <code>&#60;footer&#62;</code>
</footer>

</body>
</html>