<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/page-zeroing.css}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/page-zeroing.css">
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/index}">
            <img height="70px" th:src="@{/sport.png}" src="../static/sport.png">
        </a>
    </div>
    <div class="sign-in"><a href="sign-in.html" id="sign-in" th:href="@{/sign-in}">Войти</a></div>
    <div class="trainer"><a href="trainers.html" th:href="@{/trainers}">Тренеры</a></div>
    <div class="home"><a href="index.html" th:href="@{/index}">Главная</a></div>
    <div class="name"><a href="index.html" id="name-site" th:href="@{/index}">Fitness CAT</a></div>
    <hr>
</header>


<section>

    <div class="sport-news">

        <div class="news-border">
            <div class="news">
                <a href="#"><img width="100%"
                                 src="https://avatars.mds.yandex.net/get-zen_doc/1718877/pub_5de8134c43fdc00ea43bba0b_5de8150dfc69ab00ad1c5dee/scale_1200"
                                 alt=""></a>
            </div>

            <div class="description">
                <a href="#">Лушчая ракетка этого года Котик научит держать ракетку в руках, и не будет мяукать на вас
                    сильно</a>
            </div>
        </div>


        <div class="news-border">
            <div class="news">
                <a href="#"><img width="100%"
                                 src="https://ichef.bbci.co.uk/news/640/cpsprodpb/14236/production/_104368428_gettyimages-543560762.jpg"
                                 alt=""></a>
            </div>

            <div class="description">
                <a href="#">Смотрите какие глазки <!--выфв0 фывфы131231в 123123312312ййцу123ывй йу21 в12 у1фыв1 --></a>
            </div>
        </div>

        <div class="news-border">
            <div class="news">
                <a href="#"><img width="100%"
                                 src="https://uznayvse.ru/images/stories/uzn_1383392830.jpg"
                                 alt=""></a>
            </div>

            <div class="description">
                <a href="#">Думаете мы шутили? Мячики для всех лапок!</a>
            </div>
        </div>

        <div class="news-border">
            <div class="news">
                <a href="#"><img width="100%"
                                 src="https://i.pinimg.com/originals/62/03/ad/6203adb51f52d8ab7fda47176ac9e44d.jpg"
                                 alt=""></a>
            </div>

            <div class="description">
                <a href="#">Паркур мастер котей-Леша расскажет как делать сальто</a>
            </div>
        </div>
    </div>

    <!--    <hr>-->
</section>

<footer>
    <hr>
    <code>&#60;footer&#62;</code>
</footer>

</body>
</html>