<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/page-zeroing.css}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/page-zeroing.css">
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/index}">
            <img height="70px" th:src="@{/sport.png}" src="../static/sport.png">
        </a>
    </div>
    <div class="sign-in"><a href="sign-in.html" id="sign-in" th:href="@{/sign-in}">Войти</a></div>
    <div class="trainer"><a href="trainers.html" th:href="@{/trainers}">Тренеры</a></div>
    <div class="home"><a href="index.html" th:href="@{/index}">Главная</a></div>
    <div class="name"><a href="index.html" id="name-site" th:href="@{/index}">Fitness CAT</a></div>
    <hr>
</header>


<section id="trainer-sign-in">

    <form method="post" th:action="@{/user/login}" th:method="post" th:object="${loginDto}">
        <input type="email" id="name" th:field="*{email}" placeholder="Email">
        <br>
        <input type="password" id="last_name" th:field="*{password}" placeholder="Password">
        <br>
        <input type="submit" value="Войти">
    </form>

    <a th:href="@{/new-trainer}">
        <div class="container">
            <button class="pulse-button">
                Стать тренером
            </button>
        </div>
    </a>

<!--    <hr>-->
</section>

<footer>
    <code>&#60;footer&#62;</code>
</footer>

</body>
</html>