<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/page-zeroing.css}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/page-zeroing.css">
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/index}">
            <img height="70px" th:src="@{/sport.png}" src="../static/sport.png">
        </a>
    </div>
    <div class="sign-in"><a href="sign-in.html" id="sign-in" th:href="@{/sign-in}">Войти</a></div>
    <div class="trainer"><a href="trainers.html" th:href="@{/trainers}">Тренеры</a></div>
    <div class="home"><a href="index.html" th:href="@{/index}">Главная</a></div>
    <div class="name"><a href="index.html" id="name-site" th:href="@{/index}">Fitness CAT</a></div>
    <hr>
</header>


<section>

    <div id="trainer-acc">
        <div class="icon"><img th:src="${trainer.imageUrl}" th:width="100px"></div>
        <div class="trainer-name" th:text="${trainer.name}">Имя</div>
        <div class="trainer-last-name" th:text=" ${trainer.lastName}">Фамилия</div>
        <div class="trainer-workexp"
             th:text="${trainer.workExperience} != null? ${trainer.workExperience} : 0">Опыт работы</div>
        <div class="trainer-achievements"
             th:text="${trainer.achievements} != null? ${trainer.achievements}: 'Достижения не указаны.'">Достижения</div>
    </div>

    <div th:each="comment : ${comments}" class="comment">
        <div th:text="${comment.id} ${comment.averageRating}">id Комментария</div>
        <div th:text="${comment.averageRating}">Оценка</div>
        <div th:text="${comment.content}">Контент</div>
    </div>

    <div th:each="appointment : ${appointments}" class="appointment">
        <div th:text="${appointment.userName}">Название</div>
        <div th:text="${appointment.startDateOfTraining}">Дата старта</div>
        <div th:text="${appointment.message}">Сообщение</div>
    </div>

    <!--    <form action="">-->
    <!--        <input type="text">-->
    <!--    </form>-->

    <!--    <hr>-->
</section>

<footer>
    <code>&#60;footer&#62;</code>
</footer>

</body>
</html>