<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/page-zeroing.css}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/page-zeroing.css">

</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/index}">
            <img height="70px" th:src="@{/sport.png}" src="../static/sport.png">
        </a>
    </div>
    <div class="sign-in"><a href="sign-in.html" id="sign-in" th:href="@{/sign-in}">Войти</a></div>
    <div class="trainer"><a href="trainers.html" th:href="@{/trainers}">Тренеры</a></div>
    <div class="home"><a href="index.html" th:href="@{/index}">Главная</a></div>
    <div class="name"><a href="index.html" id="name-site" th:href="@{/index}">Fitness CAT</a></div>
    <hr>
</header>


<section id="trainers">

    <div class="trainer-info" th:each="trainer : ${all_trainers}">
        <div><img th:src="${trainer.imageUrl}" th:width="100px"></div>
        <div th:utext="${trainer.name}">Name</div>
        <div th:utext="${trainer.workExperience} == null? 'Без опыта' : ${trainer.workExperience}">work Experience</div>
        <div class="comm-info-appointment">
            <div><a th:href="@{/appointment/{id} (id=${trainer.id})}">ЗАПИСАТЬСЯ</a></div>
            <div><a th:href="@{/trainer-acc/{id} (id=${trainer.id})}">ИНФО</a></div>
            <div><a th:href="@{/comment/{id} (id=${trainer.id})}">КОММЕНТАРИЙ</a></div>
        </div>
    </div>

</section>

<footer>
    <code>&#60;footer&#62;</code>
</footer>

</body>
</html>