a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: red;
}

header{
    background: orange;
}

header div{
    display: inline-block;
    width: 100px;
}

.logo{
    position: relative;
    top: 5px;
    left: 10px;
}

.home, .trainer, .sign-in{
    float: right;
    margin: 5px;
    position: relative;
    top: 30px;
    right: 20px;
    background: yellow;
    border-radius: 6px;
    height: 21px;
    text-align: center;
    font-size: 20px;
}

.name{
    border: 10px solid salmon;
    border-radius: 6px;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 10px;
    font-size: 50px;
}

#trainer-sign-in, #appointment, #create-trainer{
    display: flex;
    justify-content: center;
}

.appointment div{
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    border: 1px solid;
    margin: 2px;
}

#trainer-acc, .comment, .appointment{
    position: relative;
    left: 35%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}

#comment{
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    height: 30px;
    background: orange;
}

button{
    font-family: inherit;
    line-height: inherit;
}

.container{
    position: fixed;
    right: 50px;
    top: 150px;
}

.pulse-button{
    font-size: 16px;
    color: white;
    position: relative;
    box-shadow: 0 0 0 0 rgba(45,173,53,.7);
    border-radius: 50%;
    border: none;
    background-color: #2dad35;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    animation: pulse2 1.25s infinite cubic-bezier(.66,0,0,1);
}

#link:hover{
    background: yellow;
}

input{
    margin: 10px;
    width: 600px;
    height: 40px;
    font-size: 20px;
}

#appointment, #create-trainer, #trainer-sign-in, #comment input:focus{
    outline: none;
}

.trainer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer-info img:hover{
    width: 300px;
    transition: 2s;
    position: center;
}

.trainer-info:nth-child(odd) {
    background: blanchedalmond;
}

.comm-info-appointment div{
    display: flex;
}

#trainer-info{
    display: flex;
    justify-content: center;
}

#name-site:hover{
    color: blanchedalmond;
}

.sport-news {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news-border{
    border: 1px solid;
    height: 200px;
    width: 200px;
}




